<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<div class="container">
    <h1 style="margin-top:5px;"><%=@resource.forum.name%></h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 style="margin:0px;"><%=@resource.name%> - Расписание</h2>
        </div>
        <div class="panel-body" style="padding-bottom:0px;">
          <%= image_tag @qr_code.to_data_url, class: 'center-block' %>
        </div>
        <div class="panel-footer">
          <h5>Ссылка - <%=@url%></h5>
        </div>
    </div>
</div>